@page "/"

<h1>Hello, world!</h1>

<p>Welcome to My Blazor.</p>
<p>This project use <a href="https://github.com/ryanelian/instapack">instapack</a>. Please refer to the link for how to use it.</p>

@code {
    
}